@font-face {
    font-family: 'garogierregular';
    src: url('Garogier-webfont.eot');
    src: url('Garogier-webfont.eot?#iefix') format('embedded-opentype'),
         url('Garogier-webfont.woff') format('woff'),
         url('Garogier-webfont.ttf') format('truetype'),
         url('Garogier-webfont.svg#garogierregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	width: 960px;
	margin: 15px auto;
	font-family:"garogierregular";
}

p{
	margin:0 0 20px 0;
}

p, li {
	line-height:20px;
}

header#page_header{
	width:100%
}

header#page_header nav ul, #page_footer nav ul{
	list-style: none;
	margin:0;
	padding:0:
}

#page_header nav ul li, footer#page_footer nav ul li{
	padding:0;
	margin: 0 20px 0 0;
	display:inline;
}

section#posts{
	float:left;
	width:74%;
}
section#posts aside{
	float:right;
	width:35%;
	margin-left:5%;
	font-size:20px;
	line-height:40px;
}
section#sidebar{
	float:left;
	width:25%;
}

footer#page_footer{
	clear:both;
	width:100%;
	display:block;
	text-align:center;
}

fieldset{
	width:216px;
	border:none;
	background-color:#ddd;
}

fieldset legend{
	background-color:#ddd;
	padding:0 64px 0 2 px;
}
fieldset ol{
	list-style:none;
	padding:0;
	margin:2px;
}
fieldset ol li{
	margin:0 0 9px 0;
	padding:0;
}
fieldset input{
	display:block;
}

input{
	width:200px;
	background-color:#fff;
	border: 1px solid #bbb;
}
input[type="submit"]{
	width:202px;
	padding:0;
	background-color: #bbb;
}

input, fieldset, legend{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
}

table{
	width:600px;
	border-collapse:collapse;
}

th, td{
	border:none;
}

th{
	background-color: #000;
	color: #fff;
}

tr:nth-of-type(even){
	background-color:#f3f3f3;
}
tr:nth-of-type(odd){
	background-color:#ddd;
}
td:nth-child(n+2){
	text-align: right;
}
tr:last-child{
	font-weight:bolder;
}
td:last-child{
	font-weight:bolder;
}
tr:last-child td:last-child{
	font-size:24px
}
tr:nth-last-child(2){
	color: green;
}
tr:nth-last-child(-n+3) td{
	text-align:right;
}

#newsletter{
 -moz-column-count:2;
 -webkit-column-count:2;
 -moz-column-gap:20px;
 -webkit-column-gap:20px;
 -moz-column-rule:1px solid #ddccb5;
 -webkit-column-rule:1px solid #ddccb5;
}

@media only screen and (max-device-width: 480px){
	body{
		width:460px;
	}
	
	section#sidebar, section#posts{
		float:none;
		width:100%;
	}
}

#banner{
	background-color:#000;
	width:960px;
	float:left;
	background-image: url('images/test.jpg');
	background-position: center;
	height: 340px;
}

#badge{
	text-align: center;
	width:200px;
	border: 2px solid blue;
}

#info{
	margin:20px;
	padding:20px;
	width:660px;
	height: 160px;
}

#badge, #info{
	float:left;
	background-color:#fff;
}

#badge h2{
	margin:0;
	color: red;
	font-size:25px;
}
#badge h3{
	margin:0;
	color:#fff;
	background-color:blue;
}

#badge{
	background-image: -moz-linear-gradient(
		top, #fff, #efefef
	);

	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #fff),
		color-stop(1, #efefef)
	);

	background-image: linear-gradient(
		top, #fff, #efefef
	);
}

#badge{
	-moz-box-shadow: 5px 5px 5px #333;
	-webkit-box-shadow: 5px 5px 5px #333;
	-o-box-shadow: 5px 5px 5px #333;
	box-shadow: 5px 5px 5px #333;
}

#badge{
	-moz-transform: rotate(-9.5deg);
	-o-transform: rotate(-9.5deg);
	-webkit-transform: rotate(-9.5deg);
	-ms-transform: rotate(-9.5deg);
	transform: rotate(-9.5deg);
}

#info{
	background-color: rgba(255,255,255,0.85);
}

#info{
	moz-border-radius:12px;
	webkit-border-radius:12px;
	o-border-radius:12px;
	border-radius:12px;
}



